* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#ladoEsquerdo{
    float: left;
    width: 49%;
}
#ladoDireito{
    float: right;
    width: 49%;
}
#total-pagar, #tP{
    color: black;
    margin-top: 10px;
    width: 100%;
    background-color: #EFA662;
    border: solid #EEE0D3 1px;
    border-radius: 5px;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#tP{
    display: block;
    text-align: center;
}
form {
    display: grid;
    background-color: #EEE0D3;
    border-radius: 5px;
    padding: 10px;
    border: solid #F1B286 1px;
}

img {
    width: 250px;
    height: 250px;
    margin-top: 20px;
}

body {
    margin: 0 auto;
    width: 90%;
}

label {
    margin: 15px;
}

input {
    padding: 5px 0 0 20px;
    height: 25px;
    border-radius: 30px;
    margin: 10px;
    border: solid #F1B286 1px;
}

button,
select {
    width: 45%;
    max-width: 400px;
    min-width: fit-content;
    margin: 15px auto;
    height: 35px;
    border-radius: 15px;
    border: solid #F1B286 1px;

}

@keyframes example {
    0% {
        background-color: #EFA662;
        color: white;
    }

    25% {
        
        background-color: #EEE0D3;
        color: black;
    }

    50% {
        
        background-color: #EEE0D3;
        color: black;
    }

    100% {
        background-color: #EFA662;
        color: white;
    }
}

button:hover {

    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

h1 {
    text-align: center;
    background-color: #EFA662;
    color: white;
    margin: 5px 0 10px 0;
    border-radius: 5px;
    border: solid #F1B286 1px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 5px;
}

th,
td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #EFA662;
}

tr:nth-child(even) {
    background-color: #EFA662;
}

thead {
    background-color: #EFA662;
    color: white;

}
tbody{
    background-color: white;
}

.btn{
    width: 100%;
    text-align: center;
}